{% extends "base.html.twig"  %}
{% block body %}
	<h1>
		Bienvenue dans notre Site !!
	</h1>

	<p>
		<span>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. 
			Culpa ratione, nisi amet perferendis asperiores excepturi et nulla!
			 Repellendus quisquam tenetur culpa voluptatem, adipisci id quasi at, 
			 consequuntur labore quaerat quidem dolor mollitia iure! Eaque maiores ex tenetur, 
			 quo doloremque beatae.
		</span>
		<span>Natus adipisci dignissimos ducimus blanditiis facere itaque quam 
			libero nulla aut perferendis, unde aperiam reiciendis nihil et suscipit veritatis, 
			veniam earum quo officia voluptatem sapiente maxime asperiores aliquid ipsam. 
			Iste quisquam, nesciunt libero perspiciatis eos quod magnam cum nobis debitis?</span>
	</p>
{% endblock %}
